body,
html {
	overflow: auto !important;
	
}

.d {
	&-flex {
		display: flex;
	}
	&-block {
		display: block;
	}
}

.justify {
	&-center {
		justify-content: center;
	}
	&-space-between {
		justify-content: space-between;
	}
	&-space-around {
		justify-content: space-around;
	}
}
.align {
	&-center {
		align-items: center;
	}
}
.h {
	&-auto {
		height: auto;
	}
	&-100 {
		height: 100%;
	}
	&-75 {
		height: 75%;
	}
	&-50 {
		height: 50%;
	}
	&-25 {
		height: 25%;
	}
}

.w {
	&-100 {
		width: 100%;
	}
	&-75 {
		width: 75%;
	}
	&-50 {
		width: 50%;
	}
	&-25 {
		width: 25%;
	}
}

.p {
	&-1 {
		padding: 10px;
	}
	&-2 {
		padding: 20px;
	}
	&-3 {
		padding: 30px;
	}
	&-4 {
		padding: 40px;
	}
}

.v-dialog>.v-card>.v-card__actions{
	padding: 14px 23px!important;
}
.my-container{
	max-width: 1300px;
	margin: auto;
	width: 100%;

}