body,
html {
	overflow: unset !important;
	overflow-x: hidden !important;
}

.d {
	&-flex {
		display: flex;
	}
	&-block {
		display: block;
	}
}
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.justify {
	&-center {
		justify-content: center;
	}
	&-space-between {
		justify-content: space-between;
	}
	&-space-around {
		justify-content: space-around;
	}
}
.align {
	&-center {
		align-items: center;
	}
}
.h {
	&-auto {
		height: auto;
	}
	&-100 {
		height: 100%;
	}
	&-75 {
		height: 75%;
	}
	&-50 {
		height: 50%;
	}
	&-25 {
		height: 25%;
	}
}

.w {
	&-100 {
		width: 100%;
	}
	&-75 {
		width: 75%;
	}
	&-50 {
		width: 50%;
	}
	&-25 {
		width: 25%;
	}
}

.p {
	&-1 {
		padding: 10px;
	}
	&-2 {
		padding: 20px;
	}
	&-3 {
		padding: 30px;
	}
	&-4 {
		padding: 40px;
	}
}

.v-dialog > .v-card > .v-card__actions {
	padding: 14px 23px !important;
}
.my-container {
	max-width: 1300px;
	margin: auto;
	width: 100%;
}
.m {
	&-auto {
		margin: auto;
	}
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: rgb(245, 245, 244);
}
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
	background-color: rgb(113, 113, 113);
	border: 2px solid rgb(245, 245, 244);
	border-radius: 9em;
}
::-webkit-scrollbar-thumb:hover {
	background-color: darken(rgb(113, 113, 113), 4);
}
.editor {
	img {
		$this: &;
		max-width: 100%;
	}
}
